<div class="row flexAlignCenter">
  <div class="card m-4" style="width: 50rem">
    <div class="card-header">Result</div>
    <div class="card-body" *ngIf="result">
      <address>
        <strong>Street:</strong> {{ result?.address?.street }},<br />
        <strong>ZipCode:</strong> {{ result?.address?.postalcode }}<br />
        <strong>countryCode:</strong>
        {{ result?.address?.countryCode }}
      </address>
    </div>
    <div class="card-header">History</div>
    <ul class="list-group list-group-flush">
      <li
        class="list-group-item"
        *ngFor="let location of listOfLocations; let i = index"
      >
        <address>
          <strong>Street:</strong> {{ location?.address?.street }},<br />
          <strong>ZipCode:</strong> {{ location?.address?.postalcode }}<br />
          <strong>countryCode:</strong>
          {{ location?.address?.countryCode }}, <strong>Latitude:</strong
          >{{ location?.address?.lat }}, <strong>Longitude:</strong>
          {{ location?.address?.lng }}
        </address>
      </li>
    </ul>
  </div>
</div>
<!-- <ul>
  <li *ngFor="let location of listOfLocations; let i = index">
    {{ location.address.locality }}
  </li>
</ul> -->
